<h2>Редактировать параметры аккаунта</h2>
<div class="account_info">
	<%= render 'layouts/messages' %>
	<div class="form-cont">
		<%= simple_form_for @account_info, url: account_account_info_path do |f| %>
			<%= f.input :seo_field_identifier %>
		  <%= f.input :max_products_count %>
		  <%= f.input :day_to_update %>
		  <%= f.input :auto_update %>
		  <%= f.input :allow_work %>
		  <div class="button">
		    <%= f.button :submit, value: "Сохранить", class: "green" %>
		  </div>
		<% end %>
	</div>
</div>